body {
margin: 0;
padding: 0;
font: 75% tahoma, Verdana, Arial, sans-serif;
line-height: 1.8em;
background: #eaeaea  url(images/bg.jpg) top left repeat-x;
}

/*TOP BANNER*/
#header{
  background: #333;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

#header h1 {
  padding: 0;
  margin: 0;
  font-family: Georgia, sans-serif;
  font-weight: normal;
  font-size: 180%;
  color: #ccc;
}

#container{
  width: 770px;
  margin: 0 auto;
  padding: 0;
}

#nav {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0px;
  list-style: none;
  background: #ccc;
}

#nav li {
  float: right;
  margin: 0;
  padding: 0;
}

#nav a {
  float:left; 
  display: block;
  padding: 0.5em 2.5em 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  color: #73868c;
  background: #ccc url(images/nav_slant.gif) no-repeat top right;
}

#nav #nav-1 a {
  padding-left: 20px;
}

#nav a:hover {
  color: #000;
}

#content {
  float: left;
  margin-top: 50px;
  width: 700px;
  padding: 0 1em 1em 1em;
}

#content h3 {
font-family: Georgia, serif;
font-size: 180%;
padding: 30px 0 10px 0;
color: #73868c;
text-align: center;
}

.number {
  background: #ccc;
  padding: .6% 3%;
  color: #FFF;
}

    /*STUDENT BUTTON BAR*/
#nav2 {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 0 0 3em;
}
#nav2 a {
  float: left;
  display: block;
  padding: 0.7em 2.5em 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  color: #73868c;
  border-bottom: 2px solid #555;
  margin-bottom:10px;
  font-size: 13px;
}
#nav2 a:hover {
  color: #000;
} 

.indexbox {
  float: left;
  width: 29%;
  margin: .3em 1.1%;
  margin-bottom: 40px;
  background: #f7f7f7;
  color: #303030;
  padding: 1% 1%;
}

.coursebox {
  float: left;
  width: 70%;
  margin-left: 50px;
  margin-bottom: 15px;
  background: #f7f7f7;
  color: #303030;
  padding: 1% 1%;
} 

#contentleft {
  float: left;
  margin-top: 10px;
  width: 450px;
  padding: 0 1em 1em 1em;
}

#contentright {
  float: right;
  margin-top: 10px;
  width: 250px;
  padding: 6em 1em 1em 1em;
}

   /*STUDENT ASSIGNMENTS DEADLINES TABLE*/
table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 33px;
  text-align: left;
  width: 260px;
}

th {
  background: linear-gradient(#333, #777);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;  
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
}

/*Profesor Index*/

#courses{
  float: left;
  margin-top: 50px;
}

#coursenav{
  list-style: none;
}

#courses a{
  font-size: 17px;
}

    /*FOOTER */
#footer {
  background: #333;
  color: #aaa;
  font-size: 1em;
  width:100%;
  height:28px;
  position:absolute;
  bottom:0;
  left:0;
}

#bottomlinks {
  margin: 0 auto;
  margin-top: 2px;
  width: 770px;
}

#footer a:link, a:visited {
  color : #666;
  background : inherit;
  text-decoration : underline;
}

#footer a:hover {
  color : #73868c;
  background : inherit;
  text-decoration : none;
}

    /*TYPOGRAPHY */
h1 {
  font-family: Georgia, serif;
  font-size: 180%;
  padding: 30px 0 10px 0;
  color: #73868c;
}

h2 {
  font-family: helvetica, Verdana, Arial;
  font-size: 150%;
  text-align: center;
}

#contentright h2{
  margin-left: 50px;
}

h3 a{
  font-family: Georgia, serif;
  font-size: 130%;
  text-decoration : underline;
}

h3 a:hover {
  color : #73868c;
  background : inherit;
  text-decoration: none;
}

h4 {
  font-family: helvetica, Verdana, Arial;
  font-size: 100%;
  margin: 0 0 0 0;
}

  /* LOGIN */
.login-card {
  padding: 40px;
  width: 274px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  font-family: Georgia, serif;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

